@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --strongBlue:#0408C3; 
  --darkSlateBlue:#17246D; 
  --majorelleBlue: #583CE1; 
  --blueGray: #6971A3;  
  --skyBlue:#9DCCFF; 

  --font-gentium: 'Gentium Book Basic', serif;
  --font-gwendolyn: 'Gwendolyn', cursive; 
}

@theme{
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-gentium);
  --font-hand: var(--font-gwendolyn);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-nav-text: var(--strongBlue); 
  --color-heading-text: var(--darkSlateBlue);
  --color-heading-text-end: var(--majorelleBlue);
  --color-body-text: var(--blueGray);
  --color-footer-bg: var(--darkSlateBlue); 
  --color-card-bg: var(--skyBlue);

}

@layer utilities {
  .gradient-text {
    @apply bg-gradient-to-r from-cyan-500 via-purple-500 to-pink-500 bg-clip-text text-transparent;
  }

  .gradient-bg {
    @apply bg-gradient-to-r from-cyan-500 via-purple-500 to-pink-500;
  }

  .gradient-border {
    @apply bg-gradient-to-r from-cyan-500 via-purple-500 to-pink-500 p-[2px] rounded-full;
  }

  .gradient-line {
    @apply h-[2px] w-[35px] rounded-full bg-gradient-to-r from-cyan-400 via-pink-400 to-purple-500;
  }

  .gradient-icon {
    @apply bg-gradient-to-r from-green-400 via-blue-500 to-purple-600 bg-clip-text text-transparent;
  } 

  .hero-bg {
  background-image: url('/bg_lg1_.png');

  background-size: cover;
  
}

/* Change background image for large screens and above */
@media (min-width: 1024px) {
  .hero-bg {
    background-image: url('/leanding2.png');
  }
}
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-serif), Georgia, Times, serif;
}
